@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

.center, .container {
  margin-left: auto;
  margin-right: auto; }

* {
  font-family: Lato,Helvetica,sans-serif;
  color: #333447;
  line-height: 1.5; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.375rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: .875rem; }

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8; }

.font-light {
  font-weight: 300; }

.font-regular {
  font-weight: 400; }

.font-heavy {
  font-weight: 700; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.container {
  width: 90%; }

.row {
  position: relative;
  width: 100%; }

.row [class^=col] {
  float: left;
  margin: .5rem 2%;
  min-height: .125rem; }

.col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9 {
  width: 96%; }

.col-1-sm {
  width: 4.33%; }

.col-2-sm {
  width: 12.66%; }

.col-3-sm {
  width: 21%; }

.col-4-sm {
  width: 29.33%; }

.col-5-sm {
  width: 37.66%; }

.col-6-sm {
  width: 46%; }

.col-7-sm {
  width: 54.33%; }

.col-8-sm {
  width: 62.66%; }

.col-9-sm {
  width: 71%; }

.col-10-sm {
  width: 79.33%; }

.col-11-sm {
  width: 87.66%; }

.col-12-sm {
  width: 96%; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.hidden-sm {
  display: none; }

@media only screen and (min-width: 33.75em) {
  .container {
    width: 80%; } }

@media only screen and (min-width: 45em) {
  .col-1 {
    width: 4.33%; }
  .col-2 {
    width: 12.66%; }
  .col-3 {
    width: 21%; }
  .col-4 {
    width: 29.33%; }
  .col-5 {
    width: 37.66%; }
  .col-6 {
    width: 46%; }
  .col-7 {
    width: 54.33%; }
  .col-8 {
    width: 62.66%; }
  .col-9 {
    width: 71%; }
  .col-10 {
    width: 79.33%; }
  .col-11 {
    width: 87.66%; }
  .col-12 {
    width: 96%; }
  .hidden-sm {
    display: block; } }

@media only screen and (min-width: 60em) {
  .container {
    width: 75%;
    max-width: 60rem; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0; }

.nav {
  position: fixed;
  top: 50px;
  right: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100; }

.nav-li {
  float: left;
  margin-left: 20px; }

.page-title {
  font-size: 5rem;
  text-align: center;
  padding-top: 400px;
  margin: 0; }

.section-container {
  width: 100%;
  height: 100%;
  height: 100vh; }

#fp-nav ul li .fp-tooltip {
  color: #333; }

.sample-text {
  text-align: center;
  font-size: 3rem;
  padding-top: 400px; }

#silvana {
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /*.semi-square {
    border-radius: 20px;
  }*/
  /* The dots/bullets/indicators */
  /* Fading animation */ }
  #silvana .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto; }
  #silvana .mySlides {
    display: none;
    height: 75vh; }
  #silvana .prev, #silvana .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
    -webkit-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0; }
  #silvana .next {
    right: 0;
    -webkit-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px; }
  #silvana .prev:hover, #silvana .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  #silvana .text {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 10%; }
  #silvana .icon {
    width: 50px;
    float: left;
    margin-left: 10px; }
  #silvana .top-bar {
    padding-top: 30px; }
  #silvana h2 {
    margin-top: 10px;
    margin-bottom: 10px; }
  #silvana .styled-select {
    margin-top: 10px;
    margin-left: 20px; }
  #silvana .styled-select select {
    background: transparent;
    border: none;
    font-size: 16px;
    height: 25px;
    width: 90px;
    outline: none; }
  #silvana .blue {
    background-color: transparent;
    margin-top: 8px; }
  #silvana h1 {
    letter-spacing: 2.5px;
    margin: auto;
    font-family: "Open Sans";
    font-weight: 400;
    color: #f2f2f2;
    font-size: 40px; }
  #silvana h2 {
    font-weight: 300;
    font-family: "Open Sans";
    color: #4d4d4d;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 5.5px; }
  #silvana .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease; }
  #silvana .active, #silvana .dot:hover {
    background-color: #717171; }
  #silvana .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

#haruna {
  width: 100vw;
  height: 100vh;
  background: #f6f6f6;
  position: relative; }
  #haruna .container {
    width: 90%;
    max-width: 90%;
    height: 100%; }
  #haruna .row {
    height: 100%; }
  #haruna .col-6 {
    height: 100%; }
  #haruna .picture {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    z-index: 1; }
  #haruna .picture img {
    width: 90%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain; }
  #haruna .box {
    position: absolute;
    width: 58%;
    height: 60%;
    border: solid 5px #da1e75;
    top: 75px;
    left: 450px; }
  #haruna .name h2 {
    font-size: 6.5rem;
    font-family: 'Fredoka One', cursive;
    color: #463d42; }
  #haruna .message {
    position: relative;
    z-index: 2; }
  #haruna .message p {
    font-size: 1.4rem;
    font-family: 'Didact Gothic', sans-serif;
    line-height: 2.5rem;
    color: #463d42; }

#tak {
  width: 100vw;
  height: 100vh; }
  #tak .wrapper {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #tak .face {
    opacity: 0;
    width: 30%;
    margin-top: 400px;
    margin-left: -50px; }
    #tak .face img {
      width: 100%; }
  #tak .bubble {
    opacity: 0;
    width: 70%;
    height: 650px;
    background-image: url("../img/bubble.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    padding: 100px; }
    #tak .bubble p {
      font-size: 2rem;
      margin-top: 0;
      margin-bottom: 15px; }
  #tak .tak-name {
    font-size: 1.5rem; }

@-webkit-keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes jackInTheBox {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
            transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom; }
  50% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg); }
  70% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg); }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
  #tak .jackInTheBox {
    -webkit-animation-name: jackInTheBox;
            animation-name: jackInTheBox;
    -webkit-animation-duration: 1s;
            animation-duration: 1s; }

#carly {
  height: 100%;
  position: relative;
  background: url("../img/carly.jpg") no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  #carly .info {
    width: 50%;
    height: 100%;
    margin: auto;
    top: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #carly .info h1, #carly .info h2 {
      text-align: center;
      padding: 0;
      margin: 0;
      color: white;
      font-weight: normal;
      font-family: 'Patua One', cursive; }
    #carly .info h1 {
      font-size: 4rem; }
    #carly .info h2 {
      font-size: 3rem; }
    #carly .info p, #carly .info h2 {
      color: white; }
  #carly .border {
    position: absolute;
    top: 15%;
    left: 15%;
    background: rgba(0, 0, 0, 0.9);
    border: 4px solid white;
    margin: auto;
    width: 70%;
    height: 70%;
    z-index: 100;
    text-align: right;
    color: white;
    padding: 0; }

#sandy.section-container {
  background-image: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  #sandy.section-container h2 {
    margin: 0;
    padding-top: 40px;
    margin-left: 20px; }
  #sandy.section-container .sandy-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  #sandy.section-container .thank {
    color: orange;
    font-size: 7rem;
    font-family: 'Leckerli One', cursive;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px; }
  #sandy.section-container .james {
    color: orange;
    font-size: 7rem;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 25px;
    text-align: center;
    font-family: 'Leckerli One', cursive; }
  #sandy.section-container .outline-border-effect {
    background: none;
    border: 0;
    width: 300px;
    height: auto;
    margin-top: 50px;
    padding-top: 0 !important;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0 0 0 10px #66cccc;
            box-shadow: inset 0 0 0 10px #66cccc;
    color: #66cccc;
    font-weight: 700;
    padding: 1em 2em; }
  #sandy.section-container .border-this {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
        -ms-flex: 3;
            flex: 3; }
  #sandy.section-container .item {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-left: 50px;
    margin-top: 50px; }
  #sandy.section-container .code {
    height: 250px;
    width: 400px; }
  #sandy.section-container .bigger-border {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: inset 0 0 0 10px white;
            box-shadow: inset 0 0 0 10px white;
    padding: 1em 2em;
    height: 700px; }
  #sandy.section-container .thank-you-text {
    font-family: 'Raleway', sans-serif;
    color: #2d499d;
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%; }

#nina img {
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

#nina .copy {
  position: absolute;
  top: 180px;
  right: 150px;
  width: -webkit-calc(100% - 1162px + 500px - 50px);
  width: calc(100% - 1162px + 500px - 50px);
  max-width: 600px;
  background-color: rgba(63, 30, 164, 0.9);
  padding: 10px 20px;
  text-align: left; }
  #nina .copy h1 {
    margin: 0 0 40px 0;
    padding: 0;
    text-align: left;
    font-size: 3rem;
    color: white; }
  #nina .copy p {
    color: white; }
  #nina .copy span {
    font-weight: bold;
    color: white; }

@font-face {
  font-family: 'chelsea_market';
  src: url("../fonts/chelseamarket-regular-webfont.woff2") format("woff2"), url("fonts/chelseamarket-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

#sachiko {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #3f2200;
  /* Brown */
  margin: 0;
  padding: 0;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  /*height: 100vh;*/ }

#sachiko .james {
  width: auto;
  height: 100vh;
  background-image: url("../img/james.png");
  background-repeat: no-repeat;
  background-position: center center; }

#sachiko .star-left {
  width: auto;
  height: 100vh;
  background-image: url("../img/star_left.png");
  background-repeat: no-repeat;
  background-position: left; }

#sachiko .star-right {
  width: auto;
  height: 100vh;
  background-image: url("../img/star_right.png");
  background-repeat: no-repeat;
  background-position: right; }

#sachiko .text-left-con, .text-right-con {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  float: left; }

#sachiko .text-right {
  padding-left: 15vw;
  padding-right: 5vw;
  margin-top: 15vh; }

#sachiko .text-left {
  padding-right: 15vw;
  padding-left: 5vw;
  margin-top: 15vh; }

#sachiko .sachiko {
  font-family: 'chelsea_market';
  font-size: 1.3rem; }

@media only screen and (max-width: 961px) {
  #sachiko .text-right {
    padding-right: 10px;
    padding-left: 18vw; }
  #sachiko .text-left {
    padding-right: 18vw;
    padding-left: 10px; } }

@media only screen and (max-width: 768px) {
  #sachiko .text-left-con, .text-right-con {
    width: 100%;
    height: auto;
    display: inherit; }
  #sachiko .text-right {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    text-align: center; }
  #sachiko .text-left {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    text-align: center; }
  #sachiko .james {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-background-size: contain;
            background-size: contain; }
  #sachiko .sachiko {
    text-align: center;
    display: inherit; } }

#tom {
  position: relative; }
  #tom img {
    height: 100%; }
  #tom article.copy {
    position: absolute;
    top: 180px;
    right: 150px;
    width: -webkit-calc(100% - 1162px + 500px - 50px);
    width: calc(100% - 1162px + 500px - 50px);
    max-width: 600px;
    background-color: rgba(156, 0, 94, 0.9);
    padding: 10px 20px;
    text-align: left; }
    #tom article.copy h1 {
      margin: 0 0 40px 0;
      padding: 0;
      text-align: left;
      font-size: 3rem; }
    #tom article.copy p, #tom article.copy h1 {
      color: white; }
    #tom article.copy span {
      font-style: italic;
      color: white; }

#renzo {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden; }

#renzo .name {
  border: 7px solid rgba(176, 48, 96, 0.9);
  width: 605px;
  text-align: center;
  position: absolute;
  right: 150px;
  top: 75px; }
  #renzo .name .name-text {
    font-family: 'Francois One', sans-serif;
    font-size: 80px;
    color: crimson; }
  #renzo .name .underline {
    text-decoration: underline;
    font-family: 'Francois One', sans-serif;
    font-size: 80px;
    color: crimson; }

#renzo .renzo-container {
  position: relative; }

#renzo .overlay {
  position: absolute;
  bottom: -73px;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 158%;
  background: rgba(176, 48, 96, 0.9);
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }

#renzo .renzo-container:hover .overlay {
  bottom: 100%;
  height: 0; }

#renzo .name:hover .renzo-container .overlay {
  bottom: 100%;
  height: 0; }

#renzo .renzo-image {
  position: absolute;
  top: 125px;
  right: 755px;
  width: 500px; }

#renzo .message {
  position: absolute;
  width: 75%;
  bottom: 25.8%;
  left: 200px;
  text-align: center; }
  #renzo .message p {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #00ab6c; }

#renzo .diagonal {
  width: 500px;
  height: 100%;
  -webkit-transform: skew(20deg);
      -ms-transform: skew(20deg);
          transform: skew(20deg);
  background: black; }

#pavithira {
  width: 1500px;
  max-width: 100%;
  height: 720px;
  position: relative;
  margin: auto;
  background: grey;
  background-image: url("../img/bg-image.png");
  background-attachment: cover;
  padding: 0;
  border: 0; }

#pavithira .donut {
  position: absolute;
  top: 350px;
  margin-left: -10px;
  width: 300px;
  max-width: 100%; }

#pavithira .curly-brackets {
  z-index: 99;
  position: absolute;
  left: 270px;
  top: 150px;
  width: 750px;
  max-width: 100%; }

#pavithira h2, #pavithira p {
  font-size: 1.2em;
  font-weight: bold;
  width: 400px;
  max-width: 100%;
  position: relative;
  font-family: 'Merienda One', cursive;
  top: 200px;
  margin-left: 31%;
  margin-right: -30%; }

#pavithira .profile-pic {
  position: absolute;
  right: 50px;
  bottom: 70px;
  width: 400px;
  max-width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
  border: solid 10px pink; }

#pavithira .heading {
  position: absolute;
  top: -40px;
  left: 60px;
  font-size: 5em;
  font-family: 'Merienda One', cursive;
  color: #616161; }

#sahil {
  font-family: verdana, sans-serif;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  height: 80vh; }
  #sahil .message {
    width: 50%;
    padding: 15px;
    background: palegoldenrod;
    border: solid 2px black;
    position: absolute;
    bottom: -220px;
    right: 375px; }
  #sahil .message h1 {
    width: 315px;
    border: solid 2px goldenrod;
    background: black;
    color: white;
    padding: 10px 30px;
    position: absolute;
    top: -70px;
    right: 30px;
    z-index: 15; }
  #sahil img[alt="Sahil Rashyani"] {
    display: block;
    width: 125px;
    border: solid 2px black;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    position: absolute;
    top: -80px;
    right: -25px;
    z-index: 15; }

@-webkit-keyframes rise {
  0% {
    bottom: -220px; }
  10% {
    bottom: -220px; }
  20% {
    bottom: -220px; }
  30% {
    bottom: -220px; }
  31% {
    bottom: 58px; }
  40% {
    bottom: 55px; }
  50% {
    bottom: 55px; }
  60% {
    bottom: 55px; }
  61% {
    bottom: 87px; }
  70% {
    bottom: 85px; }
  80% {
    bottom: 85px; }
  81% {
    bottom: 100px; }
  90% {
    bottom: 100px; }
  100% {
    bottom: 100px; } }

@keyframes rise {
  0% {
    bottom: -220px; }
  10% {
    bottom: -220px; }
  20% {
    bottom: -220px; }
  30% {
    bottom: -220px; }
  31% {
    bottom: 58px; }
  40% {
    bottom: 55px; }
  50% {
    bottom: 55px; }
  60% {
    bottom: 55px; }
  61% {
    bottom: 87px; }
  70% {
    bottom: 85px; }
  80% {
    bottom: 85px; }
  81% {
    bottom: 100px; }
  90% {
    bottom: 100px; }
  100% {
    bottom: 100px; } }
  #sahil:hover .message {
    -webkit-animation-name: rise;
            animation-name: rise;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
  #sahil .message h2 {
    font-size: 1.25em;
    margin-top: 25px; }
  #sahil .container {
    width: 60%;
    min-width: 500px;
    max-width: 700px;
    height: 100px;
    background: grey;
    border-top: solid 3px black;
    border-right: solid 3px black;
    border-left: solid 3px black;
    position: absolute;
    bottom: 4px;
    right: 350px; }
  #sahil img[alt="Hammer"] {
    width: 80px;
    position: absolute;
    bottom: 90px;
    right: 75px;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  #sahil .hinge {
    display: block;
    width: 75px;
    height: 75px;
    background: black;
    -webkit-border-radius: 100px;
            border-radius: 100px;
    position: absolute;
    bottom: 40px;
    right: 60px; }
  #sahil .nail {
    width: 50px;
    height: 50px;
    background: black;
    -webkit-border-top-left-radius: 25px;
            border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
            border-top-right-radius: 25px;
    position: absolute;
    bottom: 5px;
    right: 210px; }
  #sahil .white-box {
    width: 15px;
    height: 20px;
    background: white;
    bottom: 5px;
    position: absolute; }
  #sahil .white-box:nth-of-type(1) {
    right: 37px; }
  #sahil .white-box:nth-of-type(2) {
    right: -2px; }

@-webkit-keyframes thud {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  31% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); } }

@keyframes thud {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  31% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); } }
  #sahil:hover .nail {
    -webkit-animation-name: thud;
            animation-name: thud;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
  #sahil .holder {
    width: 20px;
    height: 65px;
    background: black;
    border: solid 3px black;
    position: absolute;
    bottom: 5px;
    right: 60px; }

@-webkit-keyframes bang {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  20% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  30% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  40% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  60% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  70% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  80% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  90% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  100% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); } }

@keyframes bang {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  20% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg); }
  30% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  40% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  50% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  60% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  70% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  80% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  90% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); }
  100% {
    -webkit-transform: rotate(-99deg);
            transform: rotate(-99deg); } }
  #sahil:hover img[alt="Hammer"] {
    -webkit-animation-name: bang;
            animation-name: bang;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
  #sahil .earth {
    width: 100%;
    height: 15px;
    border-top: solid 1px grey;
    background: white;
    position: absolute;
    bottom: 0;
    z-index: 15; }

#kunika .col-1 {
  width: 8.3333%; }

#kunika .col-2 {
  width: 16.6666%; }

#kunika .col-3 {
  width: 25%; }

#kunika .col-4 {
  width: 33.3333%; }

#kunika .col-5 {
  width: 41.6666%; }

#kunika .col-6 {
  width: 50%; }

#kunika .col-7 {
  width: 58.3333%; }

#kunika .col-8 {
  width: 66.6666%; }

#kunika .col-9 {
  width: 75%; }

#kunika .col-10 {
  width: 83.3333%; }

#kunika .col-11 {
  width: 91.6666%; }

#kunika .col-12 {
  width: 100%; }

#kunika [class*="col-"] {
  float: left;
  padding: 20px 10px; }

#kunika .inside-wrapper {
  width: 100%; }

#kunika .k-row:before, .k-row:after {
  content: "";
  display: table; }

#kunika .k-row:after {
  clear: both; }

#kunika {
  width: 100%;
  height: 100vh; }

#kunika h1 {
  font-family: 'Didact Gothic', serif;
  color: #FB6252;
  font-size: 60px;
  padding: 0 120px;
  margin: 0; }

#kunika span {
  font-family: 'Didact Gothic', serif;
  color: #8B8386;
  font-size: 24px;
  margin: 5px 120px; }

#kunika p {
  width: 1000px;
  font-family: 'Didact Gothic', serif;
  color: #8B8386;
  font-size: 24px;
  padding: 10px 20px 10px 180px;
  margin: 0;
  line-height: normal; }

#kunika h2 {
  font-family: 'Didact Gothic', serif;
  color: #8B8386;
  font-size: 24px;
  margin: 5px 240px; }

#kunika h2 > p {
  font-size: 24px;
  margin: 0;
  padding: 10px 60px;
  width: 850px; }

#kunika #console-img {
  display: none;
  padding: 20px 180px; }

#kunika .kunika-profile {
  width: 100%; }

/*#kunika-img::after {
	height: 900px;
    display: block;
    width: 600px;
    content: '';
	background: crimson;
	border: 10px solid crimson;
}*/
/*main container*/
#gosia-container {
  width: 100%;
  height: 500px;
  background: url("../img/gosia/van.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  position: relative; }

/*polygon container*/
.gosia-overlay {
  width: 1100px;
  height: 500px;
  background-color: white;
  -webkit-clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
  clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
  position: relative; }

/*all text*/
#gosia-message {
  font-family: "Lobster", serif;
  color: crimson;
  font-size: 1.5rem;
  width: 500px;
  height: 350px;
  position: absolute;
  padding: 80px 60px; }

#gosia-message span {
  display: block;
  text-align: center;
  line-height: 100px;
  font-family: "Lobster", serif;
  color: crimson; }

/*magical shamrock*/
.gosia-shamrock {
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  height: 100px;
  position: absolute;
  bottom: 30px;
  left: 200px; }

.gosia-shamrock:hover {
  -webkit-box-shadow: inset 0px -100px 0px 0px #009A49;
          box-shadow: inset 0px -100px 0px 0px #009A49;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg); }

.gosia-face {
  position: absolute;
  right: 0;
  top: 15px;
  height: 150px;
  width: auto; }

#ashley .a-container {
  width: 90%;
  max-width: 90%;
  height: 100vh; }

/* Background */
#ashley {
  background-image: url("../img/bkgd.svg");
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 100%; }

/* Grid */
#ashley [class*="col-"] {
  float: left;
  padding: 20px; }

#ashley .a-row:after, .row:before {
  content: '';
  display: table; }

#ashley .a-row:after {
  clear: both; }

#ashley .col-5 {
  width: 41.6666%; }

#ashley .col-7 {
  width: 58.3333%; }

/* Heading */
#ashley h2 {
  font-size: 8rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: -4px;
  line-height: 125px;
  color: #333333;
  padding-left: 30px;
  padding-top: 25%;
  margin: 0; }

/* Message */
#ashley p {
  font-size: 1.4rem;
  font-family: 'Didact Gothic', sans-serif;
  line-height: 2.5rem;
  color: #463d42;
  padding-top: 40px;
  padding-left: 30px;
  font-size: 1.4rem; }

/* Image */
#ashley .image {
  position: relative;
  height: 100%; }

#ashley img {
  position: absolute;
  width: 100%;
  max-width: 450px;
  bottom: 0; }

/* Media Query */
@media only screen and (max-width: 940px) {
  #ashley [class*="col-"] {
    width: 100%; }
  #ashley {
    background-image: none; }
  #ashley .col-5 {
    display: none; } }

#home {
  padding: 0;
  margin: 0;
  background: #000f5e;
  text-transform: uppercase;
  margin: 0;
  height: 100vh;
  width: 100vw; }
  #home .mainText {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative; }
  #home .text {
    fill: none;
    stroke-width: 8.5;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6.2s infinite linear;
    animation: stroke 6.2s infinite linear;
    font-family: 'Josefin Sans';
    letter-spacing: 0.9rem;
    font-size: 15rem; }
  #home .text:nth-child(5n + 1) {
    stroke: #dc143c;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; }
  #home .text:nth-child(5n + 2) {
    stroke: #42edd9;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s; }
  #home .text:nth-child(5n + 3) {
    stroke: #ef631c;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s; }
  #home .text:nth-child(5n + 4) {
    stroke: #ffe207;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s; }
  #home .text:nth-child(5n + 5) {
    stroke: #58ef92;
    -webkit-animation-delay: -6s;
    animation-delay: -6s; }

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -390; } }

@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }

svg {
  position: relative;
  width: 100%;
  height: 100%; }

#s-text {
  width: 100%; }

.nav-gift {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 25px;
  right: 27px;
  width: 48px;
  height: 48px;
  z-index: 3;
  -webkit-animation: shake 1.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 1.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
      transform: scale(1);
  cursor: pointer; }

.stopAnimation {
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

@-webkit-keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 1px, 0);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  20%, 80% {
    -webkit-transform: translate3d(6px, 5px, 0);
            transform: translate3d(6px, 5px, 0); }
  30%, 50%, 70% {
    transform: translate3d(-7px, 1px, 0);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  40%, 60% {
    -webkit-transform: translate3d(10px, -1px, 0);
            transform: translate3d(10px, -1px, 0); } }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 1px, 0);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  20%, 80% {
    -webkit-transform: translate3d(6px, 5px, 0);
            transform: translate3d(6px, 5px, 0); }
  30%, 50%, 70% {
    transform: translate3d(-7px, 1px, 0);
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  40%, 60% {
    -webkit-transform: translate3d(10px, -1px, 0);
            transform: translate3d(10px, -1px, 0); } }

#nav-bg {
  content: "";
  width: 1100px;
  height: 1100px;
  margin-right: -550px;
  margin-top: -550px;
  top: 50px;
  right: 50px;
  display: block;
  position: fixed;
  background: #fff6d1;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .6s ease-out;
  -o-transition: all .6s ease-out;
  transition: all .6s ease-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: scale(0.07);
  -ms-transform: scale(0.07);
      transform: scale(0.07);
  z-index: 1; }

.open #nav-bg {
  -webkit-transform: scale(5);
  -ms-transform: scale(5);
      transform: scale(5);
  -webkit-transition: all .9s ease-out;
  -o-transition: all .9s ease-out;
  transition: all .9s ease-out;
  background: #f9dc11; }

/* nav-list  */
.global-nav {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0; }

.nav-menu {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.global-nav ul {
  margin: 0 auto;
  width: 50%;
  position: relative; }

.global-nav ul li {
  list-style: none;
  font-size: 4rem;
  line-height: 6.2rem;
  text-align: center; }

.nav-link {
  text-decoration: none;
  color: white;
  font-family: 'viga';
  font-family: 'Hammersmith One', sans-serif;
  opacity: 0;
  color: crimson; }

.nav-link-animation {
  opacity: 1;
  -webkit-transition: 1.8s;
  -o-transition: 1.8s;
  transition: 1.8s; }

.open-nav {
  opacity: 1;
  z-index: 2;
  width: 100vw;
  height: 100vh; }

/*# sourceMappingURL=style.css.map */
