*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 50px;
  right: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}

.nav-li {
  float: left;
  margin-left: 20px;
}

h1, .page-title {
  font-size: 5rem;
  text-align: center;
  padding-top: 300px;
}

.section-container {
  width: 100%;
  height: 100%;
  height: 100vh;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

#fp-nav ul li .fp-tooltip {
  color: #333;
}

.sample-text {
  text-align: center;
  font-size: 3rem;
  padding-top: 400px;
}
