* {box-sizing:border-box}
body {
	height: 100vh;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
    height: 75vh;
    
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  width: 80%;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 10%; 
}
.icon {
	width: 50px;
	float: left;
	margin-left: 10px;

}
.styled-select {
	float: right;
	margin-right: 15px;
}

.styled-select select {
  background: transparent;
  border: none;
  font-size: 16px;
  height: 25px;
  width: 90px;
  outline: none;
  
}

/*.semi-square {
  border-radius: 20px;
}*/

.blue {
  background-color: transparent;
  margin-top: 8px;
  
}

h1 {
	letter-spacing: 2.5px;
	margin: auto;
	font-family: "Open Sans";
	font-weight: 400;
	color: #f2f2f2;
	font-size: 40px;

	
}
h2 {
	font-weight: 300;
	font-family: "Open Sans";
	color: #4d4d4d;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	letter-spacing: 5.5px;
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}